# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL=postgresql://user:password@localhost:5432/store_manager 

# kinde auth secrets
KINDE_CLIENT_ID=<kinde-client-id>
KINDE_CLIENT_SECRET=<kinde-client-secret>
KINDE_ISSUER_URL=<kinde-isuser-url>

# for development, replace with your actual url in production
KINDE_SITE_URL=http://localhost:3000 
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000 
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard